<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button color="primary">
        <ion-icon name="arrow-back"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="match">{{match.names[match.tofrom[currentUser.uid]]}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content #content>
  <div class="message-wrap" *ngIf="match">

    <div *ngFor="let msg of match.messages"
         class="message"
         [class.left]=" msg.userId === currentUser.uid "
         [class.right]=" msg.userId === match.tofrom[currentUser.uid] ">
      <!-- <img class="user-img" [src]="match.avatars[currentUser.uid]" *ngIf='msg.userId === currentUser.uid' alt="" >
      <img class="user-img" [src]="match.avatars[match.tofrom[currentUser.uid]]" *ngIf="msg.userId === match.tofrom[currentUser.uid] " alt=""> -->
      <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
      <div class="msg-detail">
        <div class="msg-info">
          <p *ngIf='msg.userId === currentUser.uid'>
            {{match.names[currentUser]}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime }}
          </p>
          <p *ngIf='msg.userId === match.tofrom[currentUser.uid]'>
            {{match.names[match.tofrom[currentUser.uid]]}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime }}
          </p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
        </div>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">
    <textarea #chat_input
              placeholder="Digite sua mensagem"
              [(ngModel)]="editorMsg"
              (keyup.enter)="sendMsg()"
             
              maxlength='200'
              >
    </textarea>
    <ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </div>
