.conatiner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width:100%;
    height: 50%;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 3;       }
    .div2 { grid-area: 1 / 3 / 3 / 5; }
    .div3 { grid-area: 1 / 5 / 3 / 7; }
    .div4 { grid-area: 3 / 1 / 5 / 3; }
    .div5 { grid-area: 3 / 3 / 5 / 5; }
    .div6 { grid-area: 3 / 5 / 5 / 7; }

    .match{
        background-color: red;
        border:2 px;
        position: relative
    }

    .singlelike {
        height: calc(calc(100vh - 56.25vw) - 56px);
        width: calc( 0.5 calc(100vh - 56.25vw));
        background-size: cover !important;
        background-repeat: no-repeat;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        @media (min-width: 768px) {
                background-size: contain !important;
                background-position: center !important;
                min-height:300px !important;
            }
            
          }
    .game-container{
        min-height: 300px;
    }
      .buttonsLike{
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
        align-content: flex-end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
      }

  

    .btn{
        width: 15vw;
        margin: 25px;
        border-radius: 50%;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    
    @media (min-width: 768px) {
        width: 5vw !important;
        height: 5vw !important;
        margin: 25px;
        border-radius: 50%;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
        }
    }

    .btn:active {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transform: translateY(4px);
      }
    .yes {
        background-color: #10dc60 !important;
        color: white;     
    }
    .no {
        background-color: #f04141 !important;
        color: white;     
    }
    .profile_name {
       
       
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2.5em;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
        @media (min-width: 768px) {
            font-size: 1.5em;
        }
      }

      .game-icon{
          zoom: 4;
          @media (min-width: 768px) {
            zoom:2;
        }
      }