<div class='game-container magictime puffIn ' [style.width]="'100%'" #singleLike>
<ng-container *ngIf="currentUser && stream?.status == 'ATIVO' && profiles && profileOK">
        <div  [style.width]="'100%'"
        class='singlelike'
        [style.background]="'url(' + profiles[profileIndex].images[0].url + ')'"
        [style.backgroundRepeat]='" no-repeat"'
        >
        <div>
        <span class='profile_name'>{{profiles[profileIndex].name}}</span>
    </div>
    <div class='buttonsLike'>
        <button  class='btn yes' (click)='ok(profiles[profileIndex].uid)' [style.width]="btnsize" [style.height]="btnsize">
                <ion-icon name="heart-outline" class='game-icon'></ion-icon>
            </button>
      
       
            <button class='btn no' (click)='no(profiles[profileIndex].uid)' [style.width]="btnsize" [style.height]="btnsize">
                <ion-icon name="close-outline" class='game-icon'></ion-icon>
            </button>
        </div>
       
    </div>
</ng-container>


<ng-container *ngIf="!profileOK">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Complete seu cadastro</ion-card-subtitle>
          <ion-card-title>Quer entrar no jogo?</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          
        Para podermos encontrar alguém para você, precisamos que você informe suas preferências
         e coloque uma foto sua bem bonita!    
          
         <ion-button expand='full' (click)="gotoProfile()">
            <ion-icon slot='start' name="person-outline" ></ion-icon>       
                   Atualizar perfil
          </ion-button>
        </ion-card-content>
      </ion-card>
</ng-container>







</div>
<!-- <ng-container *ngIf="currentUser && stream?.status == 'ATIVO'">
    

<ion-progress-bar color="primary" [value]="timer"></ion-progress-bar>
<div class='conatiner'>
    <div class='div1 match' [style.background]="'url(' + profiles[0].image.url + ')'" >
        <ion-fab vertical="bottom" horizontal="end" >
            <ion-fab-button color='danger' (click)='increase'>
                <ion-icon name="heart-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div> 
    <div class='div2 match' [style.background]="'url(' + profiles[1].image.url + ')'">
        <ion-fab vertical="bottom" horizontal="end" >
            <ion-fab-button color='danger'>
                <ion-icon name="heart-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div> 
    <div class='div3 match' [style.background]="'url(' + profiles[2].image.url + ')'">
        <ion-fab vertical="bottom" horizontal="end" >
            <ion-fab-button color='danger' >
                <ion-icon name="heart-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div> 
    <div class='div4 match' [style.background]="'url(' + profiles[3].image.url + ')'">
        <ion-fab vertical="bottom" horizontal="end" >
            <ion-fab-button color='danger'>
                <ion-icon name="heart-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div> 
    <div class='div5 match' [style.background]="'url(' + profiles[4].image.url + ')'">
        <ion-fab vertical="bottom" horizontal="end" >
            <ion-fab-button color='danger'>
                <ion-icon name="heart-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div> 
    <div class='div6 match' [style.background]="'url(' + profiles[5].image.url + ')'">
        <ion-fab vertical="bottom" horizontal="end" >
            <ion-fab-button color='danger'>
                <ion-icon name="heart-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div> 
</div>
</ng-container> -->