<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gold Crib</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-login-box></app-login-box>
   <ion-list #scheduleList  [style.marginTop]="'0px'">
    <ion-list-header>
      <ion-label>Lives</ion-label>
    </ion-list-header>
      <ion-item *ngFor="let stream of streams" (click)="gotoLive(stream)" >
          <ion-label>
            <h3>{{stream?.titulo}}</h3>
            <p>
              {{stream.dataInicio.seconds*1000 | date:'shortTime' }} 
            </p>
          </ion-label>
          <ion-icon slot="end" name="wifi-outline" [color]="stream.status =='ATIVO' ? 'success' : 'medium'" ></ion-icon>

        <ion-thumbnail slot="start">
        <ion-img [src]="stream.imagemMenu.url"></ion-img>
        </ion-thumbnail>
      </ion-item>
  </ion-list>
</ion-content>
