<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
       
        <ion-list id="inbox-list">
       
          <ion-list-header>
                 <img (click)='gotoRoute("/")' src="/assets/imgs/logo.png" class="logo-size" alt="logo">  
          </ion-list-header>
        
          <ion-menu-toggle auto-hide="false"  *ngIf="currentUser">
            <ion-item  routerDirection="root" (click)='gotoRoute("profile")' lines="none" detail="false">
              <ion-icon slot="start" name="person-circle-outline"></ion-icon>
              <ion-label>Editar Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>  
          <ion-list id="labels-list">
            <ion-list-header>Lives</ion-list-header>
              <ion-menu-toggle auto-hide="false" *ngFor="let s of streams">
                <ion-item routerDirection="root" routerLink="live/{{s.uid}}" lines="none" detail="false" >
                  <ion-icon slot="start" name="wifi-outline" [color]="s.status =='ATIVO' ? 'success' : 'medium'" ></ion-icon>
                  <ion-label>{{ s.titulo }}</ion-label>
                 
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
      
<app-match-list></app-match-list>
      </ion-content>
      
      <ion-footer no-border>    
        <ion-button color='dark' (click)="logout()" expand="full">
          <ion-icon slot='start' name="log-out-outline"></ion-icon>
          Logout
        </ion-button> 
    </ion-footer> 


    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
