
<ion-card *ngIf="currentUser; else showLogin">
  <ion-card-header>
  <ion-card-subtitle>Olá, {{ currentUser?.displayName }}!</ion-card-subtitle>
  </ion-card-header>
  <ion-button color='dark' (click)="logout()" expand="full">
    <ion-icon slot='start' name="log-out-outline"></ion-icon>
    Logout
  </ion-button>
</ion-card>

<ng-template #showLogin>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Login</ion-card-subtitle>
    <ion-card-title>Quer entrar no jogo?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class='flex-container'>
      <button class="loginBtn loginBtn--facebook" (click)='facebookLogin()'>
        Login with Facebook
      </button>
      
      <!-- <button class="loginBtn loginBtn--google">
        Login with Google
      </button> -->
      </div>
  </ion-card-content>
</ion-card>
</ng-template>