<ion-list id="labels-list" *ngIf="currentUser">
  <ion-list-header>Matches 2</ion-list-header>
  <ion-item *ngFor="let match of matches" lines="none" routerDirection="root"  routerLink="chat/{{match.uid}}">
    <ion-avatar slot="start">
      <img [src]='match.avatars[match.tofrom[currentUser.uid]]'>
      <!-- <img src='https://placekitten.com/300/300'> -->
    </ion-avatar>


    <ion-label>
      <h2>{{match.names[match.tofrom[currentUser.uid]]}}</h2>
      <p *ngIf='match.messages && match.messages.length >0; else novo '>{{match.messages[match.messages.length-1].message}}</p>
     
    </ion-label>
  </ion-item>
</ion-list>
<ng-template #novo>
<ion-badge color="danger" mode="ios">Novo</ion-badge>
</ng-template>