<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<div class='flex-container'>
<div class='profileImage' [style.background]="avatarimg">
<ion-fab vertical="bottom" horizontal="end" >
  <ion-fab-button color='primary' (click)='openImage()'>
    <ion-icon name="camera-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</div>
<input type="file" id="fileLoader" class='fileLoader' name="files" title="Load File" #fileLoader accept=".jpg,.png,.jpge" (change)='addImage($event)'/>
</div>
<ion-content >
<ion-list>
  <ion-item>
    <ion-label position="stacked">Nome <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="text"  [(ngModel)]="myProfile.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Sexo</ion-label>
    <ion-select placeholder="Escolha um" [(ngModel)]="myProfile.gender" >
      <ion-select-option value="female" >Feminino</ion-select-option>
      <ion-select-option value="male">Masculino</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list-header>Preferência</ion-list-header>
    <ion-item>
      <ion-label>Homens</ion-label>
      <ion-checkbox  checked slot="start"  [(ngModel)]="male"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox  checked slot="start" [(ngModel)]="female"></ion-checkbox>
      <ion-label>Mulheres</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)='update()'>Salvar</ion-button>
</ion-footer>
