<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{stream.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let msg of messages">
      <ion-label>{{msg | json}}</ion-label>
    </ion-item>
  </ion-list>
  <div id="conversejs-bg"></div>
<div *ngIf="!currentUser">
  <app-login-box></app-login-box>
</div>
<div class="lessons-list" *ngIf="currentUser && stream?.status == 'INATIVO'">
  Essa Live ainda não começou
</div>

  <!-- <app-game *ngIf="currentUser && stream?.status == 'ATIVO'"></app-game> -->
<!-- <div class='singleLike'></div> -->
</ion-content>
