// .video_container{
//     height: 56.25vw !important; 
//     width: 100%
// }
// @media only screen and (max-width: 600px) {
//     .video_container{
//         height: 30px !important; 
//         width: 100%
//     }
// }

/* Set your aspect ratio */
.video_container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .video_container iframe,
  .video_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  
  /* And set the max-width of the parent element */
  .video-wrap {
    width: 100%;
    @media (min-width: 768px) {
        max-width: 400px;
    }
  }
.singleLike {
    height: calc(calc(100vh - 56.25vw) - 56px);
    width: calc( 0.5 calc(100vh - 56.25vw));
    padding-bottom: 56.25%;
    background: gold; /** <-- For the demo **/
  }

  .video-center-wrap{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
  }
  .chat-container{
    width:100%;
    height:100%;
  }